[Desktop Entry]
Name=Gyazo
Version=1.3.1-darkangeel-hd
Comment=Seriously Instant Screen-Grabbing
Exec=gyazo-gnome
Terminal=false
Type=Application
Icon=gyazo
Categories=Utility;Graphics;
StartupNotify=false
Name[es_ES]=Gyazo Gnome
